body {
    background-color: #003844;
}

#mySidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffb20f;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}

.sidebar a:hover {
    color: #9f9f9f;
}

.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

.barcontainer {
    margin: 15px 0 0 10px;
}

div a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #003844;
    display: block;
    transition: 0.3s;
}

#wrapper {
    transition: margin-left .5s;
}

#collabheading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
    width: 100%;
}

.slideshow-container {
    max-width: 700px;
    position: relative;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: auto;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: .5s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 5px 0 0 5px;
}

.prev:hover,
.next:hover {
    background-color: #ffb20f;
}

p {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: white;
}